<script src="../../view/jquery.js"></script>
<style lang="">
  .py_success .sub {
    background-color: #fff;
    height: auto;
    padding-top: 30px;
  }

  .py_success .sub .success-box {
    line-height: 70px;
    border-bottom: 1px dashed #ccc;
    background: url('https://b2c.csair.com/B2C40/static/main/images/success.png') 10px 15px no-repeat;
  }

  .order-success {
    position: relative;
    font-size: 24px;
    margin-left: 60px;
    font-weight: bold;
    color: #1b9510;
    overflow: hidden;
  }

  .success-tips {
    font-size: 20px;
    margin: 20px 10px;
  }

  .py_success a {
    display: inline-block;
    margin: 20px;
    font-size: 26px;
    color: #0093d0;
    text-decoration: underline;
  }
</style>
<div class="container m-b text-l">
  <div class="py_success">
    <div class="sub">
      <div class="success-box">
        <div class="order-success"> 恭喜您，支付成功！</div>
      </div>
      <div class="success-tips">
        订单号: <b id="js_su_orderNo">GO1911220017627</b>
      </div>
      <p class="success-tips">您已成功购买南航钱包充值卡，可在【我的钱包】-【充值卡】-【订单及卡管理】查看订单状态。</p>
      <a href="#" title="返回充值卡">返回充值卡</a>
    </div>
  </div>
</div>
<script>
</script>