@CHARSET "UTF-8";

body {
	position:relative;
	margin:0px;
	width: 100%;
	font: 12px "微软雅黑";
	background: #fff;
}

a{
	text-decoration: none;
}
li{
	list-style-type: none;
}
.head{
	padding:10px;
	margin:0px;
	width:100%;
	height:85px;
	background-color: #ffffff;
}

#blue{
	position:relative;
	padding-top:10px;
	width:100%;
	height:40px;
	margin:0px;
	font-size: 16px;
	background-color: #0066FF ;
	color:#ffffff;
}
#blue ul #user{
	position:absolute;
	display:inline;
	left:20px;
	overflow: hidden;
}
#blue ul #password{
	position:absolute;
	display:inline;
	left:210px;
	overflow: hidden;
}
#blue ul #order{
	position:absolute;
	display:inline;
	left:400px;
	overflow: hidden;
}
#blue ul #help{
	position:absolute;
	display:inline;
	left:590px;
	overflow: hidden;
}
#blue ul #mzhy{
	position:absolute;
	display:inline;
	left:780px;
	overflow: hidden;
}
#blue ul #person{
	position:absolute;
	display:inline;
	left:970px;
	overflow: hidden;
}

#blue ul{
	margin:0px;
}

#blue ul li a{
	color:#FFFFFF;
}
#blue ul li a:HOVER{
	color:#FFFF00;
}

.info{
	margin:20px;
}
.information{
	border:#6699CC 3px solid;
	text-align:center;
	position:absolute;
	left:200px;
	top:480px;
}
.information table{
	width:900px;
}
.information tr{
	border:#69C 1px solid;
}
.information td{
	border:none;
}/*//*/
#infotd1{
	background:linear-gradient(#FAFAFA ,#F5F5F5);
	height:42px;
	text-align:left;
	color:#39F;
	font-size:14px;
	padding-left:15px;
	padding-top:12px;
	}
.passengerinformation img{
	width:26px;
	height:30px;
}
#infotd2{
	height:350px;
	color:#333;
	font-size:14px;
}
input{
	width:300px;
	}
#tjdd{
	height:30px;
	width:210px;
	margin-top:20px;
	background-color:#1E90FF;
	border:none;
	color:#ffffff;
	}
#tjdd1{
	height:30px;
	width:210px;
	margin-top:20px;
	background-color:#1E90FF;
	border:none;
	color:#ffffff;
	}
.flight-summary-box{
	width:906px;
	height:270px;
	top:180px;
	position:absolute;
	left:200px;
	font-size:14px;
	border:#6699CC 3px solid;
	border-top:#6699CC 1px solid;
	}
.flight-info-left{
	margin:0px;
	display:inline;
	width:500px;
	height:168px;
	}
.singleFlightBox{
	background:#F9F9F9;
	position:absolute;
	top:42px;
	border-right:#6699CC 1px solid;
	border-bottom:#6699CC 1px solid;
	margin:0px;
	width:500px;
	height:170px;
	}
.flight-name{
	position:absolute;
	margin:0px;
	top:60px;
	left:20px;
	display:inline;
	width:15px;
	height:50px;
	padding-top:10px;
	background-color:#F60;
	text-align:center;
	color:#FFF;
	}
.flight-summary{
	position:absolute;
	margin:0px;
	top:34px;
	left:60px;
	width:400px;
	display:inline;
	}
.flight-summary  table{
	text-align:center;
	width:400px;
	}

.flight-summary  tr{
	height:100px;
	border:none;
	}

.flight-summary  td{
	text-align:center;
	width:85px;
	}
.flight-date{
	color:#999;
	padding-left:12px;
	display:block;
	margin:0px;
	text-align:center;
	width:85px;
	}

.flight-code span{
	color:#F00;
	}
#timeimg{
	display:block;
	margin-left:35px;
	}
.flight-info-right{
	background:#F9F9F9;
	position:absolute;
	top:42px;
	margin:0px;
	display:inline;
	border-bottom:#6699CC  1px solid;
	/*border-top:#6699CC  1px solid;*/
	width:400px;
	margin:0px 0px 0px  500px;
	}
.summary-sub{
	width:400px;
	text-align:center;
	}
.summary-sub tr{
	height:42px;
	/*border-bottom:#CCC 1px dashed;*/
	}
.summary-sub tr td{
	border:none;
	width:80px;
}
th{
	height:43px;
	color:#39F;
	width:80px;
	text-align:center;
	}
.num{
	color:#999;
	}
.price-total{
	margin:0px;
	position:absolute;
	top:210px;
	height:50px;
	padding-top:16px;
	}
.fr{
	position:absolute;
	left:770px;
	font-size:16px;
	width:130px;
}
.fr  span{
	color:#F60;
	font-size:24px;
	font-weight:bold;
	}
.hbxx{
	border-top:#6699CC  2px solid;
	border-bottom:#6699CC  1px solid;
	height:42px;
	color:#39F;
	padding:14px 0px 0px 15px;
	background:linear-gradient(#FAFAFA ,#F5F5F5);
	}
.hbxx img{
	width:40px;
	height:25px;
	}
