@CHARSET "UTF-8";
body{
	font-size: 12px;
}
a{
	text-decoration: none;
}
li{
	list-style-type: none;
}/**/
img{
	border:0px;
	}/**/
li.send,li.arrive{
	color:#000;
	font-size: 14px;
	font-weight: 300;
}
.send .info3,.arrive .info3 ,.send .info2,.arrive .info2 ,.send .name,.arrive .name{
	display: none;
	}
ul{
	padding: 0px;
}
ul li{
	margin: 3px;
    width: 130px;
    display: inline;
}
li.send:hover,li.arrive:hover{
	background-color:#DDDDDD;
	color:#5599FF;
}
.current{
	background-color:#DDDDDD;
	color:#5599FF;
}
.search_div{
 	position: relative;
}

.citieslist{
	margin:0px;
	width:548px;
	min-height:35px;
	max-height:250px;
	position:absolute;
	top:35px;
	left: 82px;
	z-index:1040;
	overflow-y:auto;
	overflow-x:hidden;
	background-color: #ffffff;
	border: #99BBFF 1px solid;
}
.main{
	position: relative;
	height:660px;
	background-color: 	#ffffFF;
	overflow: hidden;
}
.middle{
	position: absolute;
	left:150px;
	top:100px;
}
.col{
	position: relative;
	min-height: 400px;
	width: 600px;
	margin:30px;
	background-color: #ffffff;
	float: left;
	border:  10px solid rgba(85,85,95,0.25);
}
.city{
	position:absolute;
	top:30px;
	left:780px;
	min-height: 400px;
	width: 380px;
	background-color: #ffffff;
	border:  10px solid rgba(0,0,0,0.1);
}
table{
	height: 400px;
	width: 380px;
	text-align: center;
}
tr{
	height: 20%;
}
.label{
	font-size: 16px;
}
.title{
	font-size: 18px;
	font-weight:bold;
	color: #5599FF;
	padding-top:25px;
	height: 40px;
	border-bottom: #4169E1 3px solid;
}
.tr1{
	border-bottom: #0066FF 2px solid;
}
.block{
	position: absolute;
	margin: 10px;
	background: #0066FF;
}
#login{
	text-align:center;
	width:280px;
	height: 140px;
	padding:40px 0px 0px 0px;
}
#mobilequeryOrder{
	text-align:center;
	top:200px;
	width:280px;
	height: 140px;
	padding:40px 0px 0px 0px;
}
#mzhy{
	text-align:center;
	left:300px;
	top:200px;
	width:280px;
	height:143px;
	padding:37px 0px 0px 0px;
}
#register{
	text-align:center;
	left:300px;
	width:280px;
	height: 62px;
	padding:20px 0px 0px 0px;
}
#findPassword{
	text-align:center;
	left:300px;
	top:98px;
	width:280px;
	height: 62px;
	padding:20px 0px 0px 0px;
}
.block a{
	color:#ffffff;
	font-size: 16px;
	font-family: "微软雅黑";
}
#background{
	height:660px;
	text-align: center;
	overflow: hidden;
}
#background img{
	text-align:center;
	width:100%;
	height:660px;
	
}

.fancheng{
	position:relative;
	
}
.logined_links1{
	margin-top: 10px;
	background: url(../img/user_infos_blue_bg.png) repeat;
	color:#fff;
	padding: 2px 0px;
}
.logined_links1_list{
	margin: 2px 0px;
}
.logined_links1_list a{
	color:#fff;
	font-size: 14px;
}

