body{
    margin: 0 auto;
    width: 100%;
    font:12px "微软雅黑","宋体";
}
.middle-content{
	margin:0px;
	width: 100%;
	background: url("../img/dabeijing.jpg") no-repeat center 0;
	position: relative;
	overflow: hidden;
}
#loginbgshow{
	position: absolute;
	top: 0;
	left: 50%;
	width:1920px;
	height: 100%;
	z-index: 0;
	margin-left: -960px;
}
#loginbgshow img{
	text-align:center;
	width:1920px;
	height:660px;
}
.first{
	position: relative;
	margin: 0 auto;
	width:100%;
    max-width: 960px ;
    height: 660px;
    z-index: 200;
}
.second{
	position: absolute;
	right: 0;
	top: 50px;
	width: 328px;
	padding: 0px 20px;
	background: #FAFBFC;
	min-height:320px;
	
}
.block{
	margin:0px;
	min-height: 50px;
}
h4{
	color:#1E90FF;
	height:40px;
	font-size:25px;
	text-align:center;
}
#logintitle{
	margin:20px;
	height:60px;
	padding-top:10px;
	border-bottom:#1E90FF 4px solid;
}
#usernamediv{
	min-height:45px;
	font-size: 14px;
}
#usernamediv input{
	width:280px;
	height:30px;
	font-size: 14px;
	/**/line-height:30px;/**/
}

#vcodeRegdiv{
	min-height:45px;
	font-size: 14px;
	
}
#vcodeRegdiv input{
	width:146px;
	height:30px;
	font-size: 14px;
	/**/line-height:30px;/**/
}
#xymdiv{
	min-height:45px;
	font-size: 14px;
}
#xymdiv input{
	width:146px;
	height:30px;
	font-size: 14px;
}
.vcode-group{
	display: inline;
	margin: 0px;
	width: 130px;
	height: 30px;
}
div{
	margin:10px;
}

a{
	font-size: 16px;
	font-family:"黑体";
}
div#register{
	color:#1E90FF;
}