@CHARSET "UTF-8";

#psg00000000 .pType , #psg00000000 .close_ap{
	display: none;
}
.shade_page_title{
	border: 1px solid #bbd2e3;
	border-top: 4px solid #97b5e9;
	height: 38px;
	line-height: 38px;
	background: url(../img/title_bg.jpg) repeat-x;
}

.shade_page_title h2{
	float: left;
	padding-left: 60px;
	color: #0e5ed7;
	font-size: 16px;
}

.add_passenger_wrap .shade_page_title h2{
	background: url(../img/flight_choosen_destination.png) 20px center no-repeat;
	float: left;
	padding-left: 60px;
	color: #0e5ed7;
	font-size: 16px;
}
.add_passenger_wrap .shade_page_title h2.shade_passenger_h2{
	background: url(../img/contact_infos_title.PNG) 20px center no-repeat;
	float: left;
	padding-left: 60px;
	color: #0e5ed7;
	font-size: 16px;
}
.add_passenger_wrap .shade_page_title .shade_page_title_more a{
	color: #0f5ed5;
}
.add_passenger_wrap .shade_ap_flight_info,.add_passenger_wrap .shade_ap_all_price,.add_passenger_wrap .shade_add_pas{
	/*border: 1px solid #bbd2e3;*/
	/*border-top: none;*/
	border-left: 1px solid #bbd2e3;
    border-right: 1px solid #bbd2e3;
}
.shade_ap_flight_info{
	/*height: 155px;*/
	background-color: #fafafa;
}
.shade_ap_flight_info div.shade_ap_flight_info_flight,.shade_ap_flight_info div.shade_ap_price_con{
	float: left;
	background: #fafafa;
}
.add_passenger_wrap .shade_ap_flight_info .shade_ap_flight_info_flight{
	width: 570px;
	border-right: 1px solid #bbd2e3;
	padding: 35px 0 22px;
}
.add_passenger_wrap .shade_ap_flight_info .shade_ap_flight_info_flight ul{
	height: 98px;
}
.add_passenger_wrap .shade_ap_flight_info .shade_ap_flight_info_flight ul li{
	float: left;
	margin-left: 14px;
}
.add_passenger_wrap .shade_ap_flight_info .shade_ap_flight_info_flight ul li.shade_ap_flight_travel{
	padding: 12px 10px 0 10px;
}
.add_passenger_wrap .shade_ap_flight_info .shade_ap_flight_info_flight ul li.shade_ap_flight_travel div{
	height: 60px;
	width: 25px;
	color: #fff;
	background: #ff5a00;
	line-height: 27px;
}
.add_passenger_wrap .shade_ap_flight_info .shade_ap_flight_info_flight ul li div.shade_place{
	/*width:70px;*/
}
.add_passenger_wrap .shade_ap_flight_info .shade_ap_flight_info_flight ul li div.shade_place,.add_passenger_wrap .shade_ap_flight_info .shade_ap_flight_info_flight ul li div.shade_ap_datetime{
	float: left;
}
.add_passenger_wrap .shade_ap_flight_info .shade_ap_flight_info_flight ul li.shade_ap_flight_dep div.shade_ap_datetime{
	background: url(../img/split_destination_short.png) 100px center no-repeat;
	padding-right:60px;
}
.add_passenger_wrap .shade_ap_flight_info .shade_ap_flight_info_flight ul li div.shade_ap_datetime{
	padding: 0 0px 0 0px;
}
.add_passenger_wrap .shade_ap_flight_info .shade_ap_flight_info_flight ul li div.shade_place,.add_passenger_wrap .shade_ap_flight_info .shade_ap_flight_info_flight ul li.shade_ap_flight_class div{
	height: 85px;
	line-height: 85px;
	font-size: 14px;
	color: #111111;
}
.add_passenger_wrap .shade_ap_flight_info .shade_ap_flight_info_flight ul li div.shade_ap_time{
	padding-top: 26px;
	background: url(../img/order_infos_time.png) top center no-repeat;
	font-size: 14px;
	color: #111111;
}
.add_passenger_wrap .shade_ap_flight_info .shade_ap_flight_info_flight ul li div.shade_ap_date{
	font-size: 14px;
	color: #908f8f;
	height:24px;
}
.add_passenger_wrap .shade_ap_price_con{
    /*height: 155px;*/
    width: 386px;
    padding: 0 10px;
}
.add_passenger_wrap .shade_ap_price_con table{
	width: 100%;
	border-collapse: collapse;
}
.add_passenger_wrap .shade_ap_price_con table tr{
	line-height: 34px;
	/*border-bottom: 1px dashed #C1C1C1;*/
}
.add_passenger_wrap .shade_ap_price_con table th{
	color: #0e5ed7;
}
.add_passenger_wrap .shade_ap_all_price{
	/*border: 1px solid #bbd2e3;*/
	padding: 20px;
	border-top: 1px solid #bbd2e3;
	font-size: 18px;
    text-align: right;
}
.add_passenger_wrap .shade_ap_all_price .flight_price{
	font-size: 26px;
}
.add_passenger_wrap .shade_ap_top_contact{
	height: 68px;
	line-height: 68px;
}
.add_passenger_wrap .shade_ap_top_contact h6{
	float: left;
}
.add_passenger_wrap .shade_ap_top_contact li{
	float: left;
	padding: 0 10px;
}
.add_passenger_wrap .shade_ap_top_contact li label{
	padding: 0 5px;
}
.add_passenger_wrap .shade_add_pas{
	margin-bottom: 20px;
}
.add_passenger_wrap .shade_add_pas .shade_add_pas_div{
	height: 150px;
	background: #fafafa;
	padding: 0 25px;
	border-bottom: 1px solid #bbd2e3;
	position: relative;
}
.add_passenger_wrap .shade_add_pas_div .shade_ap_passenger_infos{
	height: 35px;
	padding: 20px 0;
}
.add_passenger_wrap .shade_add_pas_div .shade_ap_passenger_infos li{
	float: left;
	padding: 5px 25px 5px 5px;
}
.add_passenger_wrap .shade_add_pas_div .shade_flight_insurance ul{
	height: 30px;
	line-height: 30px;
}
.add_passenger_wrap .shade_add_pas_div .shade_flight_insurance ul li{
	float: left;
}
.add_passenger_wrap .shade_add_pas_div .shade_ap_passenger_infos li select,.add_passenger_wrap .shade_add_pas_div .shade_ap_passenger_infos li input{
	/*height: 28px;*/
	line-height: 28px;
	padding: 0 10px;
	border: 1px solid #c1c1c1;
}
.add_passenger_wrap .shade_add_pas_div .shade_ap_passenger_infos li select{
	/*width: 100px;*/
}
.add_passenger_wrap .shade_add_pas_div .shade_ap_passenger_infos li input.shade_ap_infos_name{
	width: 70px;
}
.add_passenger_wrap .shade_add_pas_div .shade_ap_passenger_infos li input.shade_ap_infos_human_card_num{
	width: 150px;
}
.add_passenger_wrap .shade_add_pas_div .shade_flight_insurance{
	padding-left: 122px;
}
.add_passenger_wrap .shade_add_pas_div .shade_flight_insurance li{
	padding: 0 10px;
}
.add_passenger_wrap .shade_add_pas_div .shade_flight_insurance ul.shade_flight_insurance2{
	padding-left: 48px;
}
.add_passenger_wrap .shade_add_pas_div .shade_close_ap{
	position: absolute;
	right: 0;
	top: 0;
}
.add_passenger_wrap .shade_add_pas_div .shade_close_ap .shade_close_ap_btn{
	display: block;
	height: 46px;
	width: 46px;
	background: url(../img/close_ap.jpg);
}
.add_passenger_wrap .shade_add_pas .shade_add_pas_btn{
	padding: 20px 0;
}
.add_passenger_wrap .shade_add_pas .shade_add_pas_btn button{
	height: 39px;
	width: 180px;
	background: url(../img/add_pas_btn.JPG) no-repeat;
	color: #fff;
}
.add_pas .commonPassengerUl {
	text-align: left;
	margin-left: 70px;
}
.add_pas ul .commonPassengerLi{
	display: inline-block;
    text-align: left;
    width: 150px;
    height: 30px;
    line-height: 20px;
    margin: 20px 10px 0px;
    font-size: 14px;
}